NEXT_PUBLIC_SUPABASE_URL=https://lqovlkypugysofdqrttr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxxb3Zsa3lwdWd5c29mZHFydHRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwODIxNDgsImV4cCI6MjA5MTY1ODE0OH0.DE4qo9WG6oA-4zHrOUtNQ8fHoWOHuXwVBG6LCv7xSwM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51ZW1vc2R1bmRqZ2JqbHhsbWJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyMzI4NjEsImV4cCI6MjA5MTgwODg2MX0.PHLDIZJIcrXxTLGZLeT317mQr0HU5Bwly0mWKM17BVI